body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.pelota{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: 1.5s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.canasta{
  border: 1px solid #1F3744;
  position: relative;
  height: 100px;
  width: 100%;
  transform: rotate(15deg) skew(10deg) translate(20px) scale(.8);
}
.canasta:hover .pelota.a{
  left: calc(50% - 100px);
   /* calc() = calcular */
}

.canasta:hover .pelota.b{
  right: calc(50% - 100px);
   /* calc() = calcular */
}

.pelota.a{
  background-color: red;
  left: 0;
}

.pelota.b{
  background-color: blue;
  right: 0;
}

/*
Rotar elemento = rotate(grados)
Sesgar elemento = skew(grados)
Cambiar posición = translate(pixeles)
Cambiar tamaño = scale(1 = 100%, 2 = 200%, 0 )
 */
