.flicker{

}

.flicker-enter{
animation-duration: .5s, .7s;
animation-name: flicker , shake;
animation-timing-function: linear , ease-in-out;
}

.flicker-enter-active{

}
.flicker-leave{
  animation-duration: .5s, .7s;
  animation-name: flicker , shake;
  animation-timing-function: linear , ease-in-out;
}

.flicker-leave-active {

}

@keyframes shake {
  10% , 90% {
    transform: translateX(-1px);
  }
  20% , 80% {
    transform: translateX(2px);
  }
  30% , 50% , 70% {
    transform: translateX(-4px);
  }
  40% , 60% {
    transform: translateX(4px);
    }
}

@keyframes flicker {
  from {
    opacity: 0.5;
    transform: rotateY(0);
  }
  4% {
    opacity: .5;
  }
  6% {
    opacity: .45;
  }
  8% {
    opacity: .55;
  }
  10% {
    opacity: .45;
  }
  11% {
    opacity: .5;
  }
  12% {
    opacity: .65;
  }
  14% {
    opacity: .55;
  }
  16% {
    opacity: .70;
  }
  17% {
    opacity: .55;
  }
  19% {
    opacity: .5;
  }
  20% {
    opacity: .5;
  }
  24% {
    opacity: .5;
  }
  26% {
    opacity: .69;
  }
  28% {
    opacity: .5;
  }
  38% {
    opacity: .45;
  }
  40% {
    opacity: .5;
  }
  42% {
    opacity: .6;
  }
  44% {
    opacity: .5;
  }
  46% {
    opacity: .5;
  }
  56% {
    opacity: .5;
  }
  58% {
    opacity: .75;
  }
  60% {
    opacity: .5;
  }
  68% {
    opacity: .5;
  }
  70% {
    opacity: .6;
  }
  72% {
    opacity: .5;
  }
  93% {
    opacity: .5;
  }
  95% {
    opacity: .6;
  }
  97% {
    opacity: .5;
  }
  to {
    opacity: .5;
    transform: rotateY(360deg);
  }
}

.fade{

}

.fade-enter{
  opacity: 0;
  transform: scale(.5);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: .4s;
}

.fade-leave{
  opacity: 1;
  transform: scale(1);
}

.fade-leave-active {
  opacity: 0;
  transform: scale(.5);
  transition: .4s;
}

/* animation: modalIN .7s forwards; */

@keyframes animationIN {
  0%{
    transform: translateY(-3000px);
  }
  50%{
    transform: translateY(20px);
  }
  75%{
    transform: translateY(-10px);
  }
  90%{
    transform: translateY(5px);
  }
}

@keyframes animationOUT {
  0%{
    transform: translateY(5px);
  }
  50%{
    transform: translateY(-10px);
  }
  75%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(-3000px);
  }
}
