body{
  display: flex;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  flex-direction: column;
}
img{
  width: 100%;
}

.btn{
  text-align: center;
  padding: .6em .8em;
  border: none;
  background-color: lightgray;
  color: white;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 -.2em rgba(0,0,0, .2);
  outline: 0;
  transition: .2s;
  will-change: transform;
}

.btn.primary{
  background-color: #7dc800;
}
.btn.warning{
  background-color: #ff463b;
}

.btn:active{
  transform: scale(.9);
}

.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.overlay.active{
  opacity: 1;
  visibility: visible;
}

.modal{
  width: 500px;
  background-color: white;
  padding: 2em;
  border-radius: .5em;
  animation: modalIN .7s forwards;
  text-align: center;
}

@keyframes modalIN {
  0%{
    transform: translateY(-3000px);
  }
  50%{
    transform: translateY(20px);
  }
  75%{
    transform: translateY(-10px);
  }
  90%{
    transform: translateY(5px);
  }
}

@keyframes modalOUT {
  0%{
    transform: translateY(5px);
  }
  50%{
    transform: translateY(-10px);
  }
  75%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(-3000px);
  }
}
