*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2A4958;
}

.platzi{
  width: 100px;
  height: 100px;
  position: relative;
  transform: rotate(45deg);
  transition: 2s;

  animation-name: platzi-base;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.platzi-left{
  width: 79.8%;
  height: 65%;
  border: 20px solid #97c93e;
  border-bottom: none;
  position: relative;
  top: 1px;
  border-radius: 20px 20px 0 0;

  animation-name: platzi-left;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.platzi-right{
  width: 100%;
  height: 35%;
  border: 20px solid #97c93e;
  border-top: none;
  border-radius: 0 0 20px 20px;
}

@keyframes platzi-base {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes platzi-left {

}
